<div class = "home">
        <img src = "assets/images/film.jpg" class = "film">
  <div class = "buttons-container">
      <button class= "left" mat-button (click) = "leftClick()" ><mat-icon>arrow_back_ios</mat-icon></button> 
      <button class = "click-me" mat-raised-button (click) = "enterMainPage()" >Enter</button>
      <button class= "right" mat-button (click) = "rightClick()" ><mat-icon>arrow_forward_ios</mat-icon></button>
 </div>
 <div class = "logo-image-container">
    <app-logo></app-logo>
 </div>
</div>
